{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- breadcumb area -->
<div class="breadcumb-area">
	<div class="container">				
		<div class="row">
			<div class="col-md-12 txtc  text-center ccase">
				<div class="brpt">
					<h2>About</h2>
				</div>
				<div class="breadcumb-inner">				
					<ul>
						<li>You are currently here! <i class="fas fa-angle-right"></i> </li>
						<li><a href="{% base:home %}" rel="v:url" property="v:title">Home</a></li>
						<li><i class="fas fa-angle-right"></i></li>
						<li><span class="current">About</span></li>
					</ul>					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End breadcumb area -->

<!-- techsell about area -->
<div class="techsell_about_area about_page_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="single_image_area">
					<div class="single_image single_line_option  "> 
						<img src="assets/images/abouts.jpg" alt="image">
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about_right_inner">
					<div class="witr_section_title">
						<div class="witr_section_title_inner text-left">
							<h2>OUR ABOUT US</h2>
							<h3>We Best Solutions For YourBusiness -<span> What We Do.<span></span></span></h3>
							<p>I'm a Freelancer Front-end Developer with 3 years of perience. I'm from San Francisco. I code and create web elements for amazing ple around the world. I like work with new people.</p>
						</div>
					</div>
					<!-- single iteam -->
					<div class="em-service2 sleft all_color_service">
						<div class="em_service_content ">
							<div class="em_single_service_text width_height_link_0 ">
							<div class="service_top_image"></div>
								<div class="text_box witr_s_flex">
									<div class="service_top_text all_icon_color">
										<div class="em-service-icon"> 
											<i class="icofont icofont-court"></i>
										</div>
									</div>
									<div class="em-service-inner">
										<div class="em-service-title">
											<h3>Our Company History</h3>
										</div>
										<div class="em-service-desc">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- single iteam -->
					<div class="em-service2 sleft all_color_service">
						<div class="em_service_content ">
							<div class="em_single_service_text width_height_link_0 ">
							<div class="service_top_image"></div>
								<div class="text_box witr_s_flex">
									<div class="service_top_text all_icon_color">
										<div class="em-service-icon"> 
											<i class="icofont icofont-search-document"></i>
										</div>
									</div>
									<div class="em-service-inner">
										<div class="em-service-title">
											<h3>Our Success Mission</h3>
										</div>
										<div class="em-service-desc">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="witr_button_area">
						<div class="witr_btn_style mr">
							<div class="witr_btn_sinner">
								<a href="#" class="witr_btn"> About Us </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}